<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="startup.cjs" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <!-- All application requests pass through Express, including public assets. -->
        <rule name="AppraisalDesk" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="startup.cjs" />
        </rule>
      </rules>
    </rewrite>
    <!-- From HOME\site\wwwroot, use the writable HOME\LogFiles directory. -->
    <iisnode nodeProcessCountPerApplication="1"
             watchedFiles="web.config;startup.cjs;dist\*.js;dist\browser\*.js;package.json"
             loggingEnabled="true" logDirectory="..\..\LogFiles\iisnode"
             debuggingEnabled="false" devErrorsEnabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- Two 15 MiB uploads plus bounded multipart fields. -->
        <requestLimits maxAllowedContentLength="33554432" />
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
